// JourneyMapのコンフィグファイルです。自己責任で変更してください!
// すべてのワールドで使用するには、ここに配置してください: journeymap\config\5.7\
// 詳細については、: http://journeymap.info/Options_Managerを見て下さい。
{
  "managerEnabled": "true",
  "beaconEnabled": "true",
  "showTexture": "true",
  "showStaticBeam": "true",
  "showRotatingBeam": "true",
  "showName": "true",
  "showDistance": "true",
  "autoHideLabel": "true",
  "boldLabel": "false",
  "fontScale": "2",
  "textureSmall": "true",
  "maxDistance": "0",
  "minDistance": "4",
  "createDeathpoints": "true",
  "autoRemoveDeathpoints": "false",
  "autoRemoveDeathpointDistance": "2",
  "showDeathpointlabel": "true",
  "teleportCommand": "/tp {name} {x} {y} {z}",
  "dateFormat": "MM-dd-yyyy",
  "timeFormat": "HH:mm:ss",
  "configVersion": "5.7.1"
}